


.navBar a:hover{
  background-color:#FFEDBC;
  color: #ED4264;

}

.header-color{
  background: #ED4264;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  image-rendering: pixelated;
}

.landing-grid{

  background: #ED4264;
  background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
  background: linear-gradient(to right, #FFEDBC, #ED4264);


  text-align: center;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.landing-page{

  text-align: center;
  justify-content: center;

  overflow: auto;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;

}

.banner-text{
  background-color: white;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color:#ED4264;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-text hr{
  border-top: 5px dotted #ED4264;
  width: 50%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-text p{
  color: #ED4264;
  font-size: 20px;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  text-align: center;

}

.social-links i{
  color: #ED4264;
  font-size: 5em;
  padding: 8px;

}

.social-links i:hover{
  color: #FFEDBC;
  font-size: 5em;
  padding: 8px;
}




.projects-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* contact page css */
.contact-body{
  margin: auto;
  background: white;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;

}

.contact-grid{
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  background: white;
  color: black;
  border: 2px solid #ED4264;
  margin-bottom: 20px;
}

.contact-grid h2, .contact-grid p{
  font-family: 'Roboto', sans-serif;

}

.contact-grid hr{
  border-top: 1px solid black;
  width: 70%;
  margin: auto;
}


.contact-list i{
  font-size: 26px;
  padding-right: 3rem;
}

.contact-list{
  display: flex;
  justify-content:center;
  text-align: center;
}

.contact-item{
  font-size: 25px;
}



/* Resume Page CSS */

.resume-right-col{
  background: #27221f;
  color: white;
  padding: 2em;

}


/* About Me Page CSS */

.aboutme-body{
  margin: auto;
  background:white;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;

}

.aboutme-grid{
  text-align: center;
  justify-content: center;
  flex-wrap: center;
  height:100%;
  width:80%;
  background: white;
  color:black;
  border: 2px solid #ED4264;
  margin-bottom: 2px;
}

.aboutme-grid h2, .aboutme p{
  font-family: 'Roboto', sans-serif;

}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



  /* MOBILE SCREENS */
  @media only screen and (max-width:480px){

    .landing-page, .fade-content{

      animation: none;
    }

    .landing-grid{
      background: #ED4264;
      background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
      background: linear-gradient(to right, #FFEDBC, #ED4264);
      text-align: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position:absolute;

    }

    .banner-text{
      width: 90%;

    }
    .contact-list i{
      font-size: 14px;
      padding-right: 1rem;
    }

    .contact-item{
      font-size: 14px;
      font-family: 'Roboto';
    }



    .contact-list i{
      font-size: 12px;
    }

  }
